* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--nav-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

/* INDEX */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400&display=swap');

:root {
    --bg-color: #7c0f1f;
    --text-color: #ffffff;
}

.body_index {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow: hidden;
    justify-content: space-between;
}

.headerIndex {
    padding: 30px 80px;
}

.navIndex {
    display: flex;
    gap: 60px;
}

.navIndex a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
}

.TituloIndex {
    padding: 120px 80px;
    max-width: 900px;
    display: flex;
}

.TituloIndex h1 {
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}

.TituloIndex p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    max-width: 520px;
}
.imagemIndex {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

/* SOBRE*/

.body_sobre {
    background-color: #bfa38a; 
    font-family: 'Playfair Display', serif;
    color: white;
}

.navSobre {
    display: flex;
    gap: 40px;
}

.navSobre a {
    color: white;
    text-decoration: none;
    font-size: 1 rem;
    font-weight: 400;
}

.about {
    padding: 60px 8%;
}

.about-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.about-text h1 {
    font-size: 5rem;
    line-height: 0.9;
    flex: 1;
}

.about-text p {
    flex: 1;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: justify;
    padding-left: 50px;
    margin-top: 50px; 
}


.imgs_Sobre {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 40px;
    border-radius: 20px;
}


/* Estilização da segunda parte*/
.profile {
    display: flex;
    padding: 100px 8%;
    justify-content: space-between;
    align-items: center;
}

.profile-text {
    max-width: 50%;
}

.profile-text p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.profile-text ul {
    list-style: none;
}

.profile-text li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.imagemSobre img {
    width: 400px;
    height: 400px;

}

/*CLINICA - ESTETICA */


.body_clinica {
    background-color: #7c0f1f;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.navClinica {
    text-decoration: none;
    background-color: #7c0f1f;
    padding: 25px 80px;
    display: flex;
    gap: 60px;
}

.navClinica-links {
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.navClinica-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}

.navClinica-links a.active::after,
.navClinica-links a:hover::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.experiencia {
    min-height: calc 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experiencia-image {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.experiencia-text {
    background-color: #7c0f1f;
    padding: 120px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.experiencia-text p {
    font-size: 24px;
    line-height: 1.6;
    max-width: 520px;
}


/* FORMULÁRIO */

.body_feedback{
    background-color: #592723;
    color: #fff;
}

.feedback-form {
    max-width: 520px;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

.feedback-form::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 100%;
    height: 100%;
    background-color: var(--card-accent);
    border-radius: 24px;
    z-index: -1;
}

.feedback-form {
    background-color: var(--card-bg);
    border: 3px solid var(--card-border);
    border-radius: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
}

.input-group label {
    font-family: 'Playfair Display', serif;
    margin-bottom: 8px;
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 120px;
}

.feedback-form button {
    margin-top: 20px;
    padding: 16px;
    border-radius: 14px;
    border: 2px solid #000;
    background-color: var(--bg-color);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.feedback-form button:hover {
    background-color: var(--card-accent);
}